<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbdeg.unityplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".AppIntro.IntroActivity" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssignmentViewer"
            android:label="@string/title_activity_assignment_viewer"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nbdeg.unityplanner.Dashboard" />
        </activity>
        <activity
            android:name=".CourseViewer"
            android:label="@string/title_activity_course_viewer"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nbdeg.unityplanner.Dashboard" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nbdeg.unityplanner.Dashboard" />
        </activity>
        <activity
            android:name=".CreateAssignment"
            android:label="@string/title_activity_create_assignment" />
        <activity
            android:name=".CreateCourse"
            android:label="@string/title_activity_create_course" />
        <activity android:name=".EditAssignment" />
        <activity android:name=".Utils.LinkLogin" />
        <activity android:name=".Utils.CourseAddTime"
            android:label="@string/activity_course_add_time_title"
            android:parentActivityName=".CreateCourse"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nbdeg.unityplanner.Dashboard" />
        </activity>
    </application>

</manifest>